{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <h1> 
            All Posts
        </h1>
        <form action="newpost" method="post">
            {% csrf_token %}
            {{ newpostform }}

            <br>
            <input class="btn btn-outline-primary" type="submit" value="Submit">
        </form>
    {% endif %}
    <br>
    
    {% for post in all_posts %}
        <li>{{post}}</li>
    {% endfor %}
    
    {{message}}

{% endblock %}