{% extends "network/layout.html" %}

{% block body %}
    
    {{message}}

    {% if user.is_authenticated %}
        
        <form action="newpost" method="post">
            {% csrf_token %}
            {{ newpostform }}

            <br>
            <input class="btn btn-outline-primary" type="submit" value="Submit">
        </form>
    {% endif %}
    
    <br>
    <h2> All Posts </h2>
    
    {% comment %} <ul>
        {% for post in page_obj %}
            <li>{{post}}</li>
        {% endfor %}
     </ul> {% endcomment %}

    <ul>
        {% for post in page_obj %}
            <li class="post" >
                <react class="like_button_container" data-postid="{{post.id}}"></react>
                <b> {{post.author}} </b>
                <text id="{{post.id}}"> {{post.text}} </text>
                <b> {{post.date_time}} </b>
                <likes> Likes: {{post.likes_count}} </likes>
                {% comment %} add edit button if user is auth-ed user {% endcomment %}
                {% if user_id == post.author.id %}
                    <react class="edit_button_container" data-postid="{{post.id}}"></react>
                {% endif %}
            </li>
        {% endfor %}

    </ul>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="static/network/edit_button.js"></script>
    <script src="static/network/like_button.js"></script>
    
{% endblock %}