{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <h1> 
            Profile
        </h1>

        <h2> User Data </h2>
        <ul>
            <li>Following: {{following_count}}</li>
            <li>Followers: {{followers_count}}</li>
        </ul>
        
        <h2> Other users </h2>
        <ul>
            {% for user in other_users%}
                <li>
                    {{user.username}}
                    <react class="follow_button_container" data-userid="{{user.id}}"></react>
                </li>
            {% endfor %}
        </ul>

        <h2> User Posts </h2>
        <ul>
            {% for post in page_obj %}
                <li class="post" >
                    <b> {{post.author}} </b>
                    <text id="{{post.id}}"> {{post.text}} </text>
                    <b> {{post.date_time}} </b>
                    <likes> Likes: {{post.likes_count}} </likes>
                    <react class="edit_button_container" data-postid="{{post.id}}"></react>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {{message}}
    
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="static/network/follow_button.js"></script>
    <script src="static/network/edit_button.js"></script>
{% endblock %}